<div class="row">
    <div class="col-md-6 offset-3">
        <h3 class="text-info">This cinema cannot be removed because its assigned to an active movie</h3>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>